:root{
    --cor-primaria: #1C1C29;
    --cor-secundaria: #D9DE56;
    --cor-terciaria: #bbbbbb;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

main{
    width: 60%;
    height: 100%;
    background-color: white;
    padding: 1rem;
    
}

#sideBar{
    height: 100%;
    width: 16rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--cor-primaria);
    overflow-x: hidden;
    padding-top: 1rem;
    text-align: center;
}

#sideBar img{
    width: 10rem;
    height: 10rem;
}

#sideBar a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--cor-secundaria);
    display: block;
    transition: .2s;
}

#sideBar a:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
}

table{
    width: 100%;
    border: 1px solid var(--cor-primaria);
    border-radius: 5px;
}

table th{
    border: none;
    border-bottom: 1px solid var(--cor-primaria);
}

table tr td{
    border: none;
    text-align: center;
}